html { 
	background-image: radial-gradient(#474973, #161B33); 
}

body {
	font-family: 'Courier New';
	margin: 10px auto;
	max-width: 800px;
	max-height: max-content;
	background-color: #0D0C1D;
	color: #E0DFD5;
	text-align: center;
}

/*tried to add a circle to follow the mouse around but had issues with the js
div{
	position: absolute;
	transform: translate(-50%,-50%);
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid white;
} */

.button {
	background-color: #A69CAC;
	border: 2px solid #A69CAC;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	box-shadow: 0 2px 4px 0 #E0DFD5, 0 1.5px 5px 0 #E0DFD5;
}

.button:hover {
	background-color: #F1DAC4;
	border:  1px solid #A69CAC;
	color: #333;
	box-shadow: 0 1px 2px 0 #E0DFD5, 0 1px 3px 0 #E0DFD5;
}

input {
	appearance: none;
	margin: 0;
}

.photo {
	max-width: 600px;
	width: 100%;
}